# **Data cleaning**

## Objectives

* prepare the data for modelling

## Data cleaning

In [16]:
from pathlib import Path
import pandas as pd

path = Path('../stockdata/AAPL_2006-01-01_to_2018-01-01.csv')

data = pd.read_csv(path)
data.isna().sum() # Check for missing data

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
Name      0
dtype: int64

## Data preparation

In [20]:
apple_stock = pd.read_csv(
    path,
    usecols=['Date','Open','High','Low','Close','Volume'],
    parse_dates = ['Date'],
    infer_datetime_format=True,
)

apple_stock.set_index('Date', inplace=True)
apple_stock.head()

             Open   High    Low  Close     Volume
Date
2006-01-03  10.34  10.68  10.32  10.68  201853036
2006-01-04  10.73  10.85  10.64  10.71  155225609
2006-01-05  10.69  10.70  10.54  10.63  112396081
2006-01-06  10.75  10.96  10.65  10.90  176139334
2006-01-09  10.96  11.03  10.82  10.86  168861224